<ion-view view-title="Услуги">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Междугородние грузоперевозки</div>
            <div class="item item-body">
                Доставить груз в любой из более трехсот городов обслуживания по России и Белоруси быстро и не дорого.
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Курьерские услуги</div>
            <div class="item item-body">
                Это тип внутригородской доставки, используется для доставки интернет-заказов, документов, небольших грузов, и иной корреспонденции.
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Складские услуги и ответхранение</div>
            <div class="item item-body">
                Включают в себя все типы работ, обеспечивающих безопасность, обработку, отгрузку и ответственное хранение ваших товаров и имущества.
            </div>
        </div>
    </ion-content>
</ion-view>
