<ion-view view-title="Связаться с нами">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Единый номер:</div>
            <div class="item item-body item-icon-right">
                <a href="tel:8-800-200-46-86"><i class="icon ion-android-call"></i>
                8-800-200-46-86</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Электронная почта:</div>
            <div class="item item-body  item-icon-right">
                <a href="mailto:sidorov@lanks.org"><i class="icon ion-email"></i>
                sidorov@lanks.org</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Отправьте нам сообщение:</div>
            <label class="item item-input">
                <textarea placeholder="Начните набирать сообщение тут"></textarea>
            </label>
            <div class="item item-body">
                <button class="button button-block button-positive">
                    Отправить
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
